.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;

    .label {
        background-color: #202124;
        border: 1px solid #5f6368;
        border-radius: 8px;
        width: 240px;
        height: 48px;
        padding: 12px 16px 12px 16px;
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: #dadce0;

        &.checked {
            text-decoration: line-through;
        }

        &.editing {
            border-color: lightblue;
            outline: lightblue
        }

        &.error {
            border-color: red;
            outline: red
        }

        &:hover {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 1px 3px 1px rgba(0, 0, 0, 0.302);
        }



    }

    .buttonWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .errorField {
        position: absolute;
        top: 100%;
        padding-top: 5px;
        font-weight: 400;
        font-size: 12px;
        left: 40px;
        color: red;
    }

    .image{
        width: 40px;
        height: 40px;
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;
        gap: 10px;

        .label {
            flex-grow: 1;
        }

        .buttonWrapper {
            margin-left: 30px;
        }

    }
}

