.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}
.listItem .label {
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 8px;
  width: 240px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #dadce0;
}
.listItem .label.checked {
  text-decoration: line-through;
}
.listItem .label.editing {
  border-color: lightblue;
  outline: lightblue;
}
.listItem .label.error {
  border-color: red;
  outline: red;
}
.listItem .label:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 1px 3px 1px rgba(0, 0, 0, 0.302);
}
.listItem .buttonWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.listItem .errorField {
  position: absolute;
  top: 100%;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  left: 40px;
  color: red;
}
.listItem .btn {
  padding: 8px 24px;
  color: #dadce0;
  background-color: #202124;
  border-radius: 4px;
  border: 1px solid #5f6368;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  min-width: 105px;
  height: 36px;
}
.listItem .btn:hover {
  background-color: rgba(154, 160, 166, 0.122);
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 600px) {
  .listItem {
    flex-wrap: wrap;
    gap: 10px;
  }
  .listItem .label {
    flex-grow: 1;
  }
  .listItem .buttonWrapper {
    margin-left: 30px;
  }
}