.btn {
  padding: 8px 24px;
  color: #dadce0;
  background-color: #202124;
  border-radius: 4px;
  border: 1px solid #5f6368;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  min-width: 105px;
  height: 36px;
}
.btn:hover {
  background-color: rgba(154, 160, 166, 0.122);
  cursor: pointer;
  font-weight: 500;
}

input {
  font-family: "Roboto", sans-serif;
}