form {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .addTodoInput {
        min-height: 46px;
        padding: 12px 16px 12px 16px;

        border-radius: 8px;
        outline: none;
        background-color: transparent;
        color: #dadce0;
        border: 1px solid #5f6368;
        max-width: 600px;
        width: 100%;
        font-size: .875rem;
        line-height: 1.25rem;

        &.error:focus {
            border-color: red;
        }

    }



    .errorField {
        position: absolute;
        top: 100%;
        padding-top: 5px;
        font-weight: 400;
        font-size: 12px;
        padding-left: 17px;
        color: red;
    }


 
}