*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.app{
  background-color: #202124;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dadce0;
 
}


/* result list */
 .result-list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
} 

.list-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

}

.label{
  background-color: #202124;
  border:1px solid #5f6368;
  border-radius: 8px;
  width: 240px;
  padding: 12px 16px 12px 16px;
  display: block;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.checked{
  text-decoration: line-through;
}

.btn{
  height: 36px;
  padding: 8px 24px;
  color: #dadce0;
  background-color: #202124;
  border-radius: 4px;
  border:1px solid #5f6368;
  outline: none;
 font-size: .875rem;
 line-height: 1.25rem;
 font-weight: 500;
}

.btn:hover{
  background-color: rgba(154,160,166,0.122);
  cursor: pointer;
  font-weight: 500;
}

.btn--edit{
  margin-right: 10px;
}

.btn--submit{
  margin-left: 20px;
}


/* input field */
.add-todo-input{
  min-height: 46px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: #dadce0;
  border:1px solid #5f6368;
  width: 600px;
  font-size: .875rem;
  line-height: 1.25rem;
}